port: 9090
logger-output-path: "path to log file"

oauthStateString: "thisshouldberandom"
google:
  clientID: "google client id"
  clientSecret: "google client secret"
facebook:
  clientID: "facebook client id"
  clientSecret: "facebook client secret"
iam:
 authURL: "https://iam-st.dh-auth.io/api/v1/oauth2/token"
 clientID: "318116953955-d74bskibjt28mlpmansr1i9v11avacki.apps.googleusercontent.com"
 hmacKey: "hmac key provided by IAM team"
 appID: "ops-portal-pd-corporate-api"
 namespace: "FP_SG"

